body {
    margin: 0;
    font-family: 'Dongle', sans-serif;
    font-size: 1.7rem;
    height: 90%;
    background-color: black;
    color: white;
}

html {
    height: 100%;
}

#container {
    min-height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    background-image: linear-gradient(#363636, black);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

li {
    float: right;
}

#me {
    float: left;
}

#burger {
    display: none;
    float: right;
    color: white;
}

i {
    margin-top: 1rem;
    margin-right: 1rem;
}

#hidden-list {
    margin-top: 4.2rem;
}

.hidden-links {
    display: none;
    width: 100%;
    background-color: #111111;
    text-decoration: none;
    color: white;
    padding-left: 1rem;
}

.hidden-links:hover {
    background-color: #111;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#push {
    height: 5rem;
}

footer {
    background-color: black;
    background-image: linear-gradient(black, #363636);
    padding: 0.5rem;
    height: 10%;
}

footer p {
    text-align: center;
    color: #41ff80;
}

@media only screen and (max-width: 600px) {
    .burger-links {
        display: none;
    }

    #burger {
        display: block;
    }
}