{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Divij Handa{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='{% static "base.css" %}'>
    {% block css %}{% endblock %}
</head>

<body>
    <div id='container'>
        <ul>
            <li id='me'><a href='/'>Divij Handa</a></li>
            <a id="burger" href="javascript:void(0);" class="icon" onclick="burgerToggle()">
                <i class="fa fa-bars"></i>
            </a>
            <li class="burger-links"><a href='/contact'>Contact</a></li>
            <li class="burger-links"><a href='/gallery'>Gallery</a></li>
            <li class="burger-links"><a href='/blogs'>Blogs</a></li>
            <li class="burger-links"><a href='/projects'>Projects</a></li>
        </ul>
        <br>
        <ul id="hidden-list">
            <a class='hidden-links' href="/projects">Projects</a>
            <a class='hidden-links' href="/blogs">Blogs</a>
            <a class='hidden-links' href="/gallery">Gallery</a>
            <a class='hidden-links' href="/contact">Contact</a>
        </ul>
        {% block content %}
        {% endblock %}
        <div id='push'></div>
    </div>
    <footer>
        <p>Developer: Divij Handa</p>
    </footer>

    <script src="{% static 'base.js' %}"></script>
</body>
</html>